/* this CSS is linked to all the pages */

/* BODY */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    line-height: 1.6;
}

main {
    margin: 5rem auto;
    width: min(80%, 800px);
    padding: 0 40px;
    min-height: 85vh;
}

h3 {
    padding-top: 2rem;
}

.small-text {
    color: #444444;
    font-size: .8rem;
}

/* HEADER */

header {
    background: linear-gradient(to bottom, #17283a, #3a5d6c);
}

h1 {
    color: white;
    font-size: 1.5rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    max-width: 1400px;
    margin: 0 auto;
}

nav a {
    color: white;
    text-decoration: none;
}

.nav-links a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
}

.nav-links a:hover {
    color: rgba(255, 255, 255, 0.75);
}

/* DROPDOWN CONTAINER - the tools*/

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-link {
    padding-bottom: 1rem;
}

.dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    top: 2rem;
    white-space: nowrap;
    background-color: rgb(37, 63, 81);
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    margin: 0;
}

.dropdown-content a:hover {
    background-color: #f1f1f140;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* FOOTER */

footer {
    padding: 20px;
    background: #243f51;
    color: white;
    text-align: center;
}

.footer-links a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

footer>p {
    color: rgba(255, 255, 255, 0.85);
    font-size: .9rem;
}

/* MODAL BOX*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 30px;
    border: 1px solid #888;
    width: 60%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.modal-title {
    color: #004466;
    font-size: 1.1rem;
    font-weight: bold;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: black;
    text-decoration: none;
}

button.question {
    background: none;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    color: #444444;
    line-height: 1;
    font-size: .8rem;
    float: right;
    margin: 0;
}

button.question:hover {
    color: #000000;
    background: none;
}

/* FORM */

form {
    background: white;
    padding: 20px;
    margin: 2rem auto;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-sizing: border-box;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.submit {
    margin-top: 10px;
    padding: 12px 20px;
    background-color: #e18744;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-sizing: border-box;
}

.submit:hover {
    background-color: #f4b883;
}

/* TABLE */

.table-container {
    max-width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 1rem 0;
}

table {
    width: 100%;
    min-width: 800px;
    border-collapse: collapse;
    background-color: white;
    overflow: hidden;
    table-layout: auto;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

th,
td {
    border: 1px solid #bebebe;
    padding: 12px;
    text-align: left;
    width: 25%;
    word-wrap: break-word;
    white-space: nowrap;
}

th {
    background-color: #e18744;
    color: white;
    font-weight: 500;
}

td {
    font-family: monospace;
    font-size: .9rem;
    max-width: 340px;
    overflow: hidden;
    text-overflow: ellipsis;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #eae8e8;
}


/* CITATION - used in the about.html page*/
blockquote {
    line-height: 1.4rem;
    padding: .5rem 3rem;
    margin: 0 0 3rem 0;
    color: #444;
}

/* this class is used for form labels that the users doesnt need to see*/
.visually-hidden {    
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
}

/* MEDIA QUERIES for larger screens */
@media screen and (min-width: 1650px) {
    body {
        font-size: 1.3rem;
    }

    main {
        width: min(80%, 1000px);
    }

    nav {
        max-width: 1600px;
    }

    h1 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.7rem;
    }

    footer>p {
        font-size: 1.2rem;
    }

    .modal-title {
        font-size: 1.4rem;
    }

    button.question {
        font-size: 1rem;
    }
}