/* this CSS is linked only to the anaylse.html */

main p {
    line-height: 1.5;
}

h4 {
    font-size: 1.2rem;
}

#alignmentDiv,
#mutTableDiv,
#diseaseAssociationDiv {
    padding-top: 4rem;
}

.exampleBox {
    background-color: #f1f7fb;
    border-left: 4px solid #3a5d6c;
    padding: 1rem 1.5rem;
    margin: 2rem 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.exampleBox ul {
    list-style: none;
}

.exampleBox li {
    margin: 0.5rem 0;
}

.exampleBox a {
    text-decoration: none;
    color: #3a5d6c;
    font-family: monospace;
}

.exampleBox svg{
    fill: #3a5d6c;
    vertical-align: middle;
}

.exampleBox a:hover{
    color: #17283a;
}

.exampleBox a:hover svg {
    fill: #17283a;
}

/* searchSection  and its protein-containers*/

#searchSection {
    margin: 1rem 0 10rem;
}

#results {
    margin: 20px auto;
    width: 100%;
}

#resultSection {
    margin-top: 4.5rem;
}

.protein-container {
    background: white;
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.protein-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}

.protein-container h4 {
    font-weight: bold;
    font-size: 1.3rem;
    margin: 0;
}

p a,
.protein-container a {
    color: #004466;
    text-decoration: none;
}

p a:hover,
.protein-container a:hover {
    text-decoration: underline;
}

ul {
    padding-left: 20px;

}

/* FILTER according to disease involvement*/

#filterDiv {
    display: none;
    margin: 20px 0;
}

#diseaseFilter {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 100%;
}


label {
    display: inline-block;
    margin-right: 10px;
}

select {
    font-size: .8rem;
    display: inline-block;
    width: auto;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin: .5rem 0;
    background-color: #f8f9fa;
}

/* alignmentSection - box with the cannonical protein*/

#referenceSequence pre {
    max-height: 5rem;
    overflow-y: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    max-width: 100%;
    overflow-wrap: anywhere;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    font-family: monospace;
    font-size: .9rem;
}

/* alignmentSection - form */
#sequenceForm fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

#sequenceForm legend {
    color: #333;
}

#alignmentSection textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(224, 224, 224);
    box-sizing: border-box;
    margin: .5rem 0 1rem;
    background-color: #f4f4f4;
    border-radius: 5px;
    font-family: monospace;
    font-size: .9rem;
}

#alignmentSection textarea::placeholder {
    color: #555;
    font-size: .9rem;
}

#alignmentSection input[type="file"] {
    margin-top: 10px;
}

fieldset {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    border: 1px solid #ccc;
}

legend {
    flex-grow: 1;
}

/* div for displaying the aligned sequences*/

#alignmentDiv>p {
    font-size: .9rem;
}

.flex_container {
    margin: 20px 0;
    display: flex;
    gap: 5px;
}

#alignmentFlexBoxDiv {
    position: relative;
    background: white;
    padding: 20px;
    padding-left: 30px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

#alignmentBoxLabelDiv {
    flex: 0 0 auto;
}

#alignmentBoxDiv {
    flex: 1;
    overflow-x: auto;
    white-space: nowrap;
}

#alignmentFlexBoxDiv p,
#alignmentFlexBoxDiv pre {
    font-size: 16px;
    line-height: 1.2;
}

/* FILTERS for the tables*/

#mutTableFilter,
#disTableFilter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;

}

#typeFilter {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0;
}

#sortButton {
    margin-left: auto;
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: .8rem;
    background-color: #f8f9fa;
    color: black;
}

/* Show/Hide Columns BUTTON (second table) */

.dropdown-container {
    position: relative;
    display: inline-block;
    margin-left: auto;
}

.dropdown-button {
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: .8rem;
    background-color: #f8f9fa;
    color: black;
}

.dropdown-menu {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 200px;
}

.dropdown-item {
    display: block;
    cursor: pointer;
    margin-bottom: 5px;
}

/* DOWNLOAD BUTTONS */

p button {
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    color: black;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
}

p button:hover {
    background-color: #e2e6ea;
}

/* ORANGE BUTTONS */

#backToSearchButton,
#backToSearchLink,
#showMutationsTableButton,
#showDiseaseAssociationButton {
    display: inline-block;
    margin-top: 5rem;
    padding: 8px 15px;
    background-color: #e18744;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
}

#backToSearchButton,
#backToSearchLink {
    font-size: .8rem;
    width: 120px;
}

#showMutationsTableButton,
#showDiseaseAssociationButton {
    margin-top: 2rem;
    box-sizing: border-box;
}

#backToSearchButton:hover,
#backToSearchLink:hover,
#showMutationsTableButton:hover,
#showDiseaseAssociationButton:hover {
    background-color: #f4b883;
}


/* MEDIA QUERIES for larger screens */
@media screen and (min-width: 1650px) {

    main p,
    main label,
    p a,
    #alignmentDiv>p,
    .submit {
        font-size: 1.1rem;
    }

    h4 {
        font-size: 1.4rem;
    }

    .protein-container h4 {
        font-size: 1.7rem;
    }

    th,
    td,
    #alignmentSection textarea,
    #referenceSequence pre,
    .small-text {
        font-size: 1rem;
    }

    #showMutationsTableButton,
    #showDiseaseAssociationButton {
        padding: 10px 20px;
        font-size: 1rem;
    }

    #backToSearchButton,
    #backToSearchLink {
        font-size: .9rem;
        width: 150px;
    }
}