<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>GenAnalyzer</title>
    <link rel="apple-touch-icon" sizes="180x180" href="../static/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon-16x16.png">
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">

    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/main_styles.css">

    <style>
        main a {
            color: #16416c;
            text-decoration: none;
        }

        main a:hover {
            color: #16416c;
            text-decoration: underline;
        }
    </style>

</head>

<body>
    <header class="blue-gradient">
        <div>
        <h1><a href="cs">GenAnalyzer</a></h1>        
            <nav>
                <ul>
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-link">Nástroje</a>
                        <div class="dropdown-content">
                            <a href="analyse">Protein Analyzer</a>
                            <a href="aligner">Advanced Aligner</a>
                        </div>
                    </li>
                    <li><a href="about_cs">O aplikaci</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <p class="right"><a href="about">EN</a>/<b><a href="about_cs">CS</a></b></p>
        <h2>O aplikaci GenAnalyzer</h2>
        <p>GenAnalyzer je webová aplikace navržená za účelem zjednodušit analýzu proteinových sekvencí, detekci mutací
            a&nbsp;zjišťování jejich souvislostí s&nbsp;genetickými chorobami. Díky integraci dat z&nbsp;několika zdrojů
            umožňuje uživatelům efektivně porovnávat sekvence s&nbsp;referenčními variantami a&nbsp;zpřístupňuje tak
            složité bioinformatické úkoly širšímu publiku.</p>
        <p>Tato webová aplikace vznikla jako závěrečný maturitní projekt a&nbsp;Středoškolská odborná činnost (<a
                href="https://www.soc.cz/" target="_blank">SOČ</a>) na <a href="https://www.gjszlin.cz/gztgm/"
                target="_blank">Gymnáziu a&nbsp;Jazykové škole s&nbsp;právem státní jazykové zkoušky Zlín</a>.</p>
        <p>GenAnalyzer je open-source projekt dostupný na GitHubu: <a href="https://github.com/jajik123/GenAnalyzer"
                target="_blank">GenAnalyzer</a>.</p>

        <h3>Protein Analyzer</h3>
        <p>Tento nástroj umožňuje porovnat proteinovou sekvenci s&nbsp;její referenční variantou, detekovat mutace
            a&nbsp;zkoumat jejich souvislosti s&nbsp;lidskými onemocněními.</p>
        <h3>Advanced Sequence Aligner</h3>
        <p>Tento nástroj poskytuje hlubší pohled na zarovnání sekvencí a&nbsp;graficky znázorňuje, jak jsou sekvence
            zarovnány. Využívá třídu <code>Bio.Align.PairwiseAligner</code> z&nbsp;knihovny Biopython a&nbsp;dává
            uživateli plnou kontrolu nad celým procesem zarovnání.</p>

        <h3>Kontakt</h3>
        <p>Pokud máte jakékoliv dotazy, nápady či zpětnou vazbu k&nbsp;aplikaci, neváhejte se ozvat. Uvítám jakýkoli
            komentář, který pomůže vylepšit GenAnalyzer.</p>
        <p>Můžete mě kontaktovat e-mailem (<a href="mailto:genanalyzer24@gmail.com">genanalyzer24@gmail.com</a>) nebo
            prostřednictvím <a href="https://github.com/jajik123/GenAnalyzer/discussions" target="_blank">GitHub
                Discussions</a>.</p>

        <h3>Integrované zdroje</h3>
        <h4>UniProt</h4>
        <p>
            Aplikace využívá data z&nbsp;databáze <a href="https://www.uniprot.org/" target="_blank">UniProt (the
                Universal Protein Knowledgebase)</a>. Pokud GenAnalyzer využiješ ve svém výzkumu, zvaž citaci
            následující publikace:
        </p>
        <blockquote>
            The UniProt Consortium,
            UniProt: the Universal Protein Knowledgebase in 2025,
            <em>Nucleic Acids Research,</em> Volume 53, Issue D1, 6 January 2025,
            <a href="https://doi.org/10.1093/nar/gkae1010" target="_blank">https://doi.org/10.1093/nar/gkae1010</a>
        </blockquote>
        <h4>ClinVar</h4>
        <p>
            GenAnalyzer také využívá data z&nbsp;databáze <a href="https://www.ncbi.nlm.nih.gov/clinvar/"
                target="_blank">ClinVar</a>, veřejného archivu vztahů mezi genetickými variantami a&nbsp;lidskými
            chorobami. Pokud tuto aplikaci použiješ ve svém výzkumu, cituj tuto publikaci:
        </p>
        <blockquote>
            M. J. Landrum, J. M. Lee, G. R. Riley, W. Jang, W. S. Rubinstein, D. M. Church, D. R. Maglott,
            ClinVar: public archive of relationships among sequence variation and human phenotype,
            <em>Nucleic Acids Research</em> Volume 42, Issue D1, 1 January 2014,
            <a href="https://doi.org/10.1093/nar/gkt1113" target="_blank">https://doi.org/10.1093/nar/gkt1113</a>

        </blockquote>
        <h4>Biopython</h4>
        <p>
            GenAnalyzer využívá knihovnu <a href="https://biopython.org/" target="_blank">Biopython</a>,
            konkrétně třídu <code>Bio.Align.PairwiseAligner</code> pro zarovnání sekvencí.
        </p>
        <blockquote>
            P. J. A. Cock, T. Antao, J. T. Chang, B. A. Chapman, C. J. Cox, A. Dalke, I. Friedberg, T. Hamelryck, F.
            Kauff, B. Wilczynski, M. J. L. de Hoon,
            Biopython: freely available Python tools for computational molecular biology and bioinformatics,
            <em>Bioinformatics.</em> Volume 25, Issue 11, June 2009,
            <a href="https://doi.org/10.1093/bioinformatics/btp163"
                target="_blank">https://doi.org/10.1093/bioinformatics/btp163</a>
        </blockquote>
    </main>

    <footer>
        <p><strong>GenAnalyzer</strong></p>
        <ul>
            <li><a href="/cs">Domů</a></li>
            <li><a href="/cs#tools">Nástroje</a></li>
            <li><a href="/about_cs">O&nbsp;aplikaci</a></li>
        </ul>
        <p class="light">&copy;&nbsp;2025 Yasmin Fazla. Všechna práva vyhrazena.</p>
    </footer>
</body>

</html>