<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>GenAnalyzer</title>
    <link rel="apple-touch-icon" sizes="180x180" href="../static/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon-16x16.png">
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">

    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/main_styles.css">

</head>

<body>
    <header>
        <nav>
            <h1>
                <a href="/">GenAnalyzer</a>
            </h1>
            <div class="nav-links">
                <div class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-link">Tools</a>
                    <div class="dropdown-content">
                        <a href="/analyse">Protein Analyzer</a>
                        <a href="/aligner">Advanced Aligner</a>
                    </div>
                </div>
                <a href="/about">About</a>
            </div>
        </nav>
    </header>

    <main>
        <h2>About GenAnalyzer</h2>
        <p>GenAnalyzer is a web application designed to simplify the analysis of protein sequences, identify mutations,
            and explore their potential links to genetic diseases. Integrating data from multiple sources, allows users
            to efficiently compare sequences with reference variants, making complex bioinformatics tasks more
            accessible.</p>
        <p>The web application was developed as a graduate project.</p>
        <p>GenAnalyzer is open-source and available on GitHub. Feel free to explore the source code, contribute, or suggest improvements at <a href="https://github.com/jajik123/GenAnalyzer" target="_blank">GitHub - GenAnalyzer</a>.</p>

        <h3>Protein Analyzer</h3>
        <p>This tool allows users to compare a protein sequence against its reference sequence, detect mutations, and
            investigate their associations with human diseases.</p>
        <h3>Advanced Sequence Aligner</h3>
        <p>This tool provides a deeper exploration of sequence alignment, offering a visual representation of how
            sequences are aligned. It utilizes the <code>Bio.Align.PairwiseAligner</code> class from the Biopython
            library to perform sequence alignment, giving the user control over the alignment process.</p>
        
        <h3>Contacts</h3>
        <p>If you have any questions, suggestions, or feedback, feel free to reach out! I would greatly appreciate any comments that can help improve GenAnalyzer.</p>
        <p>You can contact me via email at <a href="mailto:genanalyzer24@gmail.com">genanalyzer24@gmail.com</a> or reach out through the <a href="https://github.com/jajik123/GenAnalyzer/discussions" target="_blank">GitHub Discussions</a>.</p>

        <h3>Acknowledgements</h3>
        <h4>UniProt</h4>
        <p>
            This application incorporates data from <a href="https://www.uniprot.org/" target="_blank">UniProt</a>, the
            Universal Protein Knowledgebase. If you find GenAnalyzer useful, consider citing the latest UniProt
            publication:
        </p>
        <blockquote>
            The UniProt Consortium,
            UniProt: the Universal Protein Knowledgebase in 2025,
            <em>Nucleic Acids Research,</em> Volume 53, Issue D1, 6 January 2025,
            <a href="https://doi.org/10.1093/nar/gkae1010" target="_blank">https://doi.org/10.1093/nar/gkae1010</a>
        </blockquote>
        <h4>ClinVar</h4>
        <p>
            GenAnalyzer also integrates data from <a href="https://www.ncbi.nlm.nih.gov/clinvar/"
                target="_blank">ClinVar</a>, a public archive of relationships between sequence variation and human
            diseases. If you use this application in your research, cite the original ClinVar publication:
        </p>
        <blockquote>
            M. J. Landrum, J. M. Lee, G. R. Riley, W. Jang, W. S. Rubinstein, D. M. Church, D. R. Maglott,
            ClinVar: public archive of relationships among sequence variation and human phenotype,
            <em>Nucleic Acids Research</em> Volume 42, Issue D1, 1 January 2014,
            <a href="https://doi.org/10.1093/nar/gkt1113" target="_blank">https://doi.org/10.1093/nar/gkt1113</a>

        </blockquote>
        <h4>Biopython</h4>
        <p>
            GenAnalyzer utilizes the <a href="https://biopython.org/" target="_blank">Biopython</a> library,
            specifically the <code>Bio.Align.PairwiseAligner</code> class for sequence alignment.
        </p>
        <blockquote>
            P. J. A. Cock, T. Antao, J. T. Chang, B. A. Chapman, C. J. Cox, A. Dalke, I. Friedberg, T. Hamelryck, F.
            Kauff, B. Wilczynski, M. J. L. de Hoon,
            Biopython: freely available Python tools for computational molecular biology and bioinformatics,
            <em>Bioinformatics.</em> Volume 25, Issue 11, June 2009,
            <a href="https://doi.org/10.1093/bioinformatics/btp163"
                target="_blank">https://doi.org/10.1093/bioinformatics/btp163</a>
        </blockquote>
    </main>

    <footer>
        <div class="footer-info">
            <p><strong>GenAnalyzer</strong></p>
            <p></p>
        </div>
        <div class="footer-links">
            <a href="/">Home</a>
            <a href="/#tools">Tools</a>
            <a href="/about">About</a>
        </div>
        <p>&copy; 2024 GenAnalyzer. All Rights Reserved.</p>
    </footer>
</body>

</html>