<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>GenAnalyzer</title>
    <link rel="apple-touch-icon" sizes="180x180" href="../static/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon-16x16.png">
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">

    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/main_styles.css">
    <link rel="stylesheet" href="../static/css/style_analyse.css">
</head>

<body>
    <header>
        <nav>
            <h1>
                <a href="/">GenAnalyzer</a>
            </h1>
            <div class="nav-links">
                <div class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-link">Tools</a>
                    <div class="dropdown-content">
                        <a href="/analyse">Protein Analyzer</a>
                        <a href="/aligner">Advanced Aligner</a>
                    </div>
                </div>
                <a href="/about">About</a>
            </div>
        </nav>
    </header>
    <main>
        <h2>Protein Analyzer</h2>
        <div id="aboutTheToolDiv">
            <p>Analyze your protein sequences, uncover mutations, and explore their links to human diseases.</p>
        </div>

        <section id="searchSection">
            <h3>Find the reference sequence of your protein:</h3>
            <form id="geneForm">
                <label for="gene">
                    Enter the protein you want to analyze <br>
                    <span class="small-text">(You can search by protein name, gene name, or
                        Uniprot ID)</span>

                </label>
                <br>
                <input type="text" id="gene" name="gene" required>
                <button type="submit" class="submit" aria-label="Search for proteins">Search</button>
            </form>

            <div class="explanation">
                <button class="question">How does the search work?</button>

                <div class="answer modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <p class="modal-title">How does the search work?</p>
                        <p>This search tool interacts directly with the <a href="https://www.uniprot.org/"
                                target="_blank" rel="noopener">UniProt</a> database,
                            allowing you to search for proteins using various identifiers, including protein names, gene
                            names,
                            or UniProt IDs.</p>
                        <p>The results are filtered to include only reviewed human proteins, which are
                            linked to diseases.</p>
                    </div>
                </div>
            </div>

            <section id="resultSection">
                <h3 id="resultHeading" style="display: none;"> Results will appear here </h3>
                <div id="filterDiv">
                    <label for="diseaseFilter">Filter by disease involvement:</label>
                    <select id="diseaseFilter" disabled>
                        <option value="all">All</option>
                    </select>
                </div>
                <div id="resultCount"></div>
                <div id="results"></div>
            </section>

        </section>

        <section id="alignmentSection" style="display: none;">
            <h3>Compare your sequence with <span id="selectedProteinName"></span></h3>
            <div id="proteinInfo"> </div>
            <form id="sequenceForm">

                <fieldset>
                    <legend>Enter your protein sequence for analysis:</legend>

                    <label for="sequenceInput" class="visually-hidden">Amino acid sequence:</label>
                    <textarea id="sequenceInput"
                        placeholder="Paste your amino acid sequence here in FASTA format or as a raw sequence..."
                        rows="8" cols="50"></textarea>
                </fieldset>
                <fieldset>
                    <legend>Or load from a text file (.txt, .fasta, .fas, .fa, .faa) </legend>
                    <input type="file" id="sequenceFile" accept=".txt,.fasta,.fas,.fa,.faa">
                    <p id="fileNameDisplay" class="small-text"></p>
                </fieldset>
                
                <button type="button" class="submit" onclick="submitSequence()">Submit</button>

            </form>
            <div class="explanation">
                <button class="question">What is the FASTA format?</button>
                <div class="answer modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <p class="modal-title">What is the FASTA format?</p>
                        <p>FASTA format is a text-based format representing nucleotide or amino acid
                            sequences. Each sequence begins with a description line starting with a ">" symbol,
                            followed by the sequence itself, typically displayed with one letter per amino acid
                            or nucleotide.</p>
                        <!-- resource: https://zhanggroup.org/FASTA/-->
                    </div>
                </div>
            </div>
            <div class="explanation">
                <button class="question">How does the alignment work?</button>
                <div class="answer modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <p class="modal-title">How does the alignment work?</p>
                        <p>The alignment compares your input sequence with the reference sequence, identifying matches,
                            mismatches, and gaps.</p>
                        <p>When the aligned sequences are displayed, additional analyses, such as mutation detection,
                            are
                            available.</p>
                    </div>
                </div>
            </div>
            
            <button type="button" id="backToSearchButton">Back to search</button>
        </section>
        <a href="/analyse" id="backToSearchLink">Back to search</a>
    </main>

    <footer>
        <div class="footer-info">
            <p><strong>GenAnalyzer</strong></p>
            <p></p>
        </div>
        <div class="footer-links">
            <a href="/">Home</a>
            <a href="/#tools">Tools</a>
            <a href="/about">About</a>
        </div>
        <p>&copy; 2024 GenAnalyzer. All Rights Reserved.</p>
    </footer>


    <script src="../static/js/script_modal_box.js"></script>
    <script src="../static/js/script_analyse_search.js"></script>
    <script src="../static/js/script_analyse_align.js"></script>

</body>

</html>