<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>GenAnalyzer</title>
    <link rel="apple-touch-icon" sizes="180x180" href="../static/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon-16x16.png">
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">

    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/main_styles.css">
    <link rel="stylesheet" href="../static/css/style_analyse.css">
</head>

<body>
    <header class="blue-gradient">
        <div>
            <h1><a href="/">GenAnalyzer</a></h1>
            <nav>
                <ul>
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-link">Tools</a>
                        <div class="dropdown-content">
                            <a href="analyse">Protein Analyzer</a>
                            <a href="aligner">Advanced Aligner</a>
                        </div>
                    </li>
                    <li><a href="about">About</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <h2>Protein Analyzer</h2>
        <div id="aboutTheToolDiv">
            <p>Analyze your protein sequences, uncover mutations, and explore their links to human diseases.</p>
            <div class="exampleBox">
                <p><b>Don’t have a protein sequence at hand but still want to try the tool?</b></p>
                <p>Try one of these examples to see if they contain mutations associated with diseases:</p>
                <ul>
                    <li>Presenilin-1 – <a href="../static/files/presenilin1.fasta" download
                            title="Download FASTA file of presenilin-1">PSN1_HUMAN <svg height="1rem" width="1rem"
                                viewBox="0 0 512 512" fill="#3a5d6c">
                                <path class="st0"
                                    d="M243.591,309.362c3.272,4.317,7.678,6.692,12.409,6.692c4.73,0,9.136-2.376,12.409-6.689l89.594-118.094   c3.348-4.414,4.274-8.692,2.611-12.042c-1.666-3.35-5.631-5.198-11.168-5.198H315.14c-9.288,0-16.844-7.554-16.844-16.84V59.777   c0-11.04-8.983-20.027-20.024-20.027h-44.546c-11.04,0-20.022,8.987-20.022,20.027v97.415c0,9.286-7.556,16.84-16.844,16.84   h-34.305c-5.538,0-9.503,1.848-11.168,5.198c-1.665,3.35-0.738,7.628,2.609,12.046L243.591,309.362z" />
                                <path class="st0"
                                    d="M445.218,294.16v111.304H66.782V294.16H0v152.648c0,14.03,11.413,25.443,25.441,25.443h461.118   c14.028,0,25.441-11.413,25.441-25.443V294.16H445.218z" />
                            </svg></a>
                    </li>
                    <li>Insulin – <a href="../static/files/insulin.fasta" download
                            title="Download FASTA file of insulin">INS_HUMAN <svg height="1rem" width="1rem"
                                viewBox="0 0 512 512" fill="#3a5d6c">
                                <path class="st0"
                                    d="M243.591,309.362c3.272,4.317,7.678,6.692,12.409,6.692c4.73,0,9.136-2.376,12.409-6.689l89.594-118.094   c3.348-4.414,4.274-8.692,2.611-12.042c-1.666-3.35-5.631-5.198-11.168-5.198H315.14c-9.288,0-16.844-7.554-16.844-16.84V59.777   c0-11.04-8.983-20.027-20.024-20.027h-44.546c-11.04,0-20.022,8.987-20.022,20.027v97.415c0,9.286-7.556,16.84-16.844,16.84   h-34.305c-5.538,0-9.503,1.848-11.168,5.198c-1.665,3.35-0.738,7.628,2.609,12.046L243.591,309.362z" />
                                <path class="st0"
                                    d="M445.218,294.16v111.304H66.782V294.16H0v152.648c0,14.03,11.413,25.443,25.441,25.443h461.118   c14.028,0,25.441-11.413,25.441-25.443V294.16H445.218z" />
                            </svg></a></li>
                    <li>Breast cancer type 1 susceptibility protein – <a href="../static/files/brca1.fasta" download
                            title="Download FASTA file of BRCA1 protein">BRCA1_HUMAN <svg height="1rem" width="1rem"
                                viewBox="0 0 512 512" fill="#3a5d6c">
                                <path class="st0"
                                    d="M243.591,309.362c3.272,4.317,7.678,6.692,12.409,6.692c4.73,0,9.136-2.376,12.409-6.689l89.594-118.094   c3.348-4.414,4.274-8.692,2.611-12.042c-1.666-3.35-5.631-5.198-11.168-5.198H315.14c-9.288,0-16.844-7.554-16.844-16.84V59.777   c0-11.04-8.983-20.027-20.024-20.027h-44.546c-11.04,0-20.022,8.987-20.022,20.027v97.415c0,9.286-7.556,16.84-16.844,16.84   h-34.305c-5.538,0-9.503,1.848-11.168,5.198c-1.665,3.35-0.738,7.628,2.609,12.046L243.591,309.362z" />
                                <path class="st0"
                                    d="M445.218,294.16v111.304H66.782V294.16H0v152.648c0,14.03,11.413,25.443,25.441,25.443h461.118   c14.028,0,25.441-11.413,25.441-25.443V294.16H445.218z" />
                            </svg></a></li>
                </ul>
            </div>
        </div>


        <section id="searchSection">
            <h3>Find the reference sequence of your protein:</h3>
            <form id="geneForm">
                <label for="gene">
                    Enter the protein you want to analyze <br>
                    <span class="small-text">(You can search by protein name, gene name, or
                        Uniprot ID)</span>

                </label>
                <br>
                <input type="text" id="gene" name="gene" placeholder="e.g., BRCA1, insulin" required>
                <button type="submit" class="submit" aria-label="Search for proteins">Search</button>
            </form>

            <div class="explanation">
                <button class="question">How does the search work?</button>

                <div class="answer modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <p class="modal-title">How does the search work?</p>
                        <p>This search tool interacts directly with the <a href="https://www.uniprot.org/"
                                target="_blank" rel="noopener">UniProt</a> database,
                            allowing you to search for proteins using various identifiers, including protein names, gene
                            names,
                            or UniProt IDs.</p>
                        <p>The results are filtered to include only reviewed human proteins, which are
                            linked to diseases.</p>
                    </div>
                </div>
            </div>

            <section id="resultSection">
                <h3 id="resultHeading" style="display: none;">Results will appear here </h3>
                <div id="filterDiv">
                    <label for="diseaseFilter">Filter by disease involvement:</label>
                    <select id="diseaseFilter" disabled>
                        <option value="all">All</option>
                    </select>
                </div>
                <div id="resultCount"></div>
                <div id="results"></div>
            </section>

        </section>

        <section id="alignmentSection" style="display: none;">
            <h3>Compare your sequence with <span id="selectedProteinName"></span></h3>
            <div id="proteinInfo"> </div>
            <form id="sequenceForm">

                <fieldset>
                    <legend>Enter your protein sequence for analysis:</legend>

                    <label for="sequenceInput" class="visually-hidden">Amino acid sequence:</label>
                    <textarea id="sequenceInput"
                        placeholder="Paste your amino acid sequence here in FASTA format or as a raw sequence..."
                        rows="8" cols="50"></textarea>
                </fieldset>
                <fieldset>
                    <legend>Or load from a text file (.txt, .fasta, .fas, .fa, .faa) </legend>
                    <input type="file" id="sequenceFile" accept=".txt,.fasta,.fas,.fa,.faa">
                    <p id="fileNameDisplay" class="small-text"></p>
                </fieldset>

                <button type="button" class="submit" onclick="submitSequence()">Submit</button>

            </form>
            <div class="explanation">
                <button class="question">What is the FASTA format?</button>
                <div class="answer modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <p class="modal-title">What is the FASTA format?</p>
                        <p>FASTA format is a text-based format representing nucleotide or amino acid
                            sequences. Each sequence begins with a description line starting with a ">" symbol,
                            followed by the sequence itself, typically displayed with one letter per amino acid
                            or nucleotide.</p>
                        <!-- resource: https://zhanggroup.org/FASTA/-->
                    </div>
                </div>
            </div>
            <div class="explanation">
                <button class="question">How does the alignment work?</button>
                <div class="answer modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <p class="modal-title">How does the alignment work?</p>
                        <p>The alignment compares your input sequence with the reference sequence, identifying matches,
                            mismatches, and gaps.</p>
                        <p>When the aligned sequences are displayed, additional analyses, such as mutation detection,
                            are
                            available.</p>
                    </div>
                </div>
            </div>

            <button type="button" id="backToSearchButton">Back to search</button>
        </section>
        <a href="/analyse" id="backToSearchLink">Back to search</a>
    </main>

    <footer>
        <p><strong>GenAnalyzer</strong></p>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/#tools">Tools</a></li>
            <li><a href="/about">About</a></li>
        </ul>
        <p class="light">&copy;&nbsp;2025 Yasmin Fazla. All Rights Reserved.</p>
    </footer>


    <script src="../static/js/script_modal_box.js"></script>
    <script src="../static/js/script_analyse_search.js"></script>
    <script src="../static/js/script_analyse_align.js"></script>

</body>

</html>