<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="GenAnalyzer is a web application for protein sequence analysis, mutation detection, and genetic disease research.">
    <meta property="og:title" content="GenAnalyzer">
    <meta property="og:description"
        content="GenAnalyzer is a tool for protein sequence analysis, mutation detection, and linking mutations to genetic diseases.">
    <meta property="og:url" content="https://genanalyzer.pythonanywhere.com/">

    <title>GenAnalyzer</title>
    <link rel="apple-touch-icon" sizes="180x180" href="../static/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon-16x16.png">
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">

    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/main_styles.css">
    <link rel="stylesheet" href="../static/css/style_index.css">
</head>

<body>
    <div class="intro">
        <header>
            <div>
                <h1><a href="/">GenAnalyzer</a></h1>
                <nav>
                    <ul>
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-link">Tools</a>
                            <div class="dropdown-content">
                                <a href="analyse">Protein Analyzer</a>
                                <a href="aligner">Advanced Aligner</a>
                            </div>
                        </li>
                        <li><a href="about">About</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <section class="start">
            <h2>GenAnalyzer</h2>
            <p>Web app designed to simplify the analysis of protein sequences, detect mutations and explore their links
                to genetic diseases. By integrating data from UniProt and ClinVar, GenAnalyzer makes complex
                bioinformatics tasks simple, fast and accessible.</p>
            <!--<p>Analyze and explore data efficiently with this powerful tool.</p>-->
            <button type="button" onclick="scrollToSection('video-section')">Get Started</button>
        </section>
        <p class="flag"><a href="cs"><img src="../static/images/flag_cs.png"
                    alt="Flag of Czech Republic to change the language" width="25px"></a></p>
    </div>


    <main>
        <section id="video-section">
            <h3>See how it works</h3>
            <iframe src="https://www.youtube.com/embed/S4j5MqxXcqM"
                title="Introducing GenAnalyzer: A Powerful Web Application for Protein Sequence Analysis"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </section>

        <section class="tools" id="tools">
            <h3>Explore The Tools</h3>

            <h4><a href="analyse">Protein Analyzer</a></h4>

            <p>Analyze your protein sequences, uncover mutations, and explore their links to human diseases.</p>

            <h5>1. Find the reference sequence of the protein you want to analyse</h5>
            <p>Protein Analyzer integrates seamlessly with <a href="https://www.uniprot.org/" target="_blank"
                    rel="noopener">UniProt</a>, a high-quality, freely accessible database of protein sequences. This
                ensures you get the most reliable, reviewed, and up-to-date reference data for your analysis.</p>

            <h5>2. Input your sequence</h5>
            <p>Simply paste or upload your protein sequence and compare it against the reference. Whether you are
                analyzing experimental data, validating known mutations or exploring novel variations, the intuitive
                interface allows for quick and accurate sequence submission.</p>

            <h5>3. View the alignment and identify mutations</h5>
            <p>Using sequence alignment algorithms, the Protein Analyzer compares your sequence to the reference,
                highlighting similarities and differences. A side-by-side visualization makes it easy to understand how
                the mutations are identified. Protein Analyzer automatically identifies amino acid substitutions,
                deletions, or insertions.</p>

            <h5>4. Explore their links to human diseases</h5>
            <p>This tool integrates with <a href="https://www.ncbi.nlm.nih.gov/clinvar/" target="_blank"
                    rel="noopener">ClinVar</a>, a widely used public database which stores information about genetic
                variations and their association with human diseases. By connecting identified mutations to ClinVar,
                Protein Analyzer provides insights into whether a variation has been previously studied, its potential
                clinical significance, and any reported links to genetic disorders or diseases like cancer, and
                inherited syndromes.</p>

            <h5>5. Collect research data</h5>
            <p>Easily export your analysis in multiple formats for further research or documentation. Whether you're
                conducting a large-scale study or need to share findings with colleagues, the download feature enables
                you to continue your research seamlessly.</p>

            <a href="analyse" class="btn">Try the Protein Analyzer</a>


            <h4><a href="aligner">Advanced Sequence Aligner</a></h4>

            <p>Want to learn how sequence comparison works or customize the alignment parameters? The Advanced Sequence
                Aligner allows you to input two sequences and align them efficiently using the powerful Pairwise
                Sequence Alignment from the Biopython library. Whether you're working with DNA, RNA, or protein
                sequences, this tool helps you analyze similarities and differences with precision.</p>
            <img class="fullwidth" src="../static/images/alignment.png" alt="Sequence alignment">
            <h5>1. Customize the alignment parameters</h5>
            <p>Modify scoring values, gap penalties, and substitution matrices to tailor the alignment to your needs.
            </p>
            <h5>2. View the alignment results</h5>
            <p>View the aligned sequences in an easy-to-interpret format, making it simple to spot mutations,
                mismatches, and conserved regions.</p>
            <h5>3. Understand how alignment works </h5>
            <p>Modify parameters and observe how the alignment changes, helping you learn the principles behind sequence
                comparison.
            </p>

            <p>Perfect for researchers, students, and bioinformatics enthusiasts, this tool provides a flexible way to
                explore sequence relationships with complete control over the alignment process.</p>
            <a href="aligner" class="btn">Try the Advanced Aligner</a>
        </section>

        <section class="contact-section">
            <h3>Contact</h3>
            <p>If you have any questions, suggestions, or feedback, feel free to reach out! I would greatly appreciate
                any comments that can help improve GenAnalyzer.</p>
            <p>You can contact me via email at <a href="mailto:genanalyzer24@gmail.com">genanalyzer24@gmail.com</a> or
                reach out through the <a href="https://github.com/jajik123/GenAnalyzer/discussions"
                    target="_blank">GitHub Discussions</a>.</p>
            <p>GenAnalyzer is open-source and available on GitHub. Feel free to explore the source code, contribute, or
                suggest improvements at <a href="https://github.com/jajik123/GenAnalyzer" target="_blank">GitHub -
                    GenAnalyzer</a>.</p>
        </section>
    </main>

    <footer>
        <p><strong>GenAnalyzer</strong></p>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/#tools">Tools</a></li>
            <li><a href="/about">About</a></li>
        </ul>
        <p class="light">&copy;&nbsp;2025 Yasmin Fazla. All Rights Reserved.</p>
    </footer>

    <script src="../static/js/script_scroll.js"></script>

</body>

</html>