<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="GenAnalyzer is a web application for protein sequence analysis, mutation detection, and genetic disease research.">
    <meta property="og:title" content="GenAnalyzer">
    <meta property="og:description"
        content="GenAnalyzer is a tool for protein sequence analysis, mutation detection, and linking mutations to genetic diseases.">
    <meta property="og:url" content="https://genanalyzer.pythonanywhere.com/">

    <title>GenAnalyzer</title>
    <link rel="apple-touch-icon" sizes="180x180" href="../static/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon-16x16.png">
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">

    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/main_styles.css">
    <link rel="stylesheet" href="../static/css/style_index.css">
</head>

<body>
    <div class="intro">
        <header>
            <div>
                <h1><a href="cs">GenAnalyzer</a></h1>
                <nav>
                    <ul>
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-link">Nástroje</a>
                            <div class="dropdown-content">
                                <a href="analyse">Protein Analyzer</a>
                                <a href="aligner">Advanced Aligner</a>
                            </div>
                        </li>
                        <li><a href="about_cs">O aplikaci</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <section class="start">
            <h2>GenAnalyzer</h2>
            <p>Webová aplikace navržená za účelem zjednodušit analýzu proteinových sekvencí, detekci mutací
                a&nbsp;zjišťování jejich souvislostí s&nbsp;genetickými chorobami. Díky integraci dat z&nbsp;databází
                UniProt a&nbsp;ClinVar mění GenAnalyzer složité bioinformatické úkoly v&nbsp;něco intuitivního,
                jednoduchého a&nbsp;rychlého.</p>
            <!--<p>Analyze and explore data efficiently with this powerful tool.</p>-->
            <button type="button" onclick="scrollToSection('video-section')">Začít</button>
        </section>
        <p class="flag"><a href="/"><img src="../static/images/flag_en.png"
                    alt="Flag of Great Britain to change the language" width="25px"></a></p>
    </div>


    <main>
        <section id="video-section">
            <h3>Jak to funguje</h3>
            <iframe src="https://www.youtube.com/embed/S4j5MqxXcqM"
                title="Introducing GenAnalyzer: A Powerful Web Application for Protein Sequence Analysis"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </section>

        <section class="tools" id="tools">
            <h3>Nástroje</h3>

            <h4><a href="analyse">Protein Analyzer</a></h4>

            <p>Analyzuj proteinové sekvence, odhal mutace prozkoumej jejich souvislosti s&nbsp;lidskými chorobami.</p>

            <h5>1. Vyhledej referenční sekvenci proteinu, který chceš analyzovat</h5>
            <p>Protein Analyzer je propojen s&nbsp;<a href="https://www.uniprot.org/" target="_blank"
                    rel="noopener">UniProt</a>, kvalitní veřejnou databází proteinových sekvencí. To zaručuje
                spolehlivý, odborně revidovaný a&nbsp;aktuální referenční data pro tvou analýzu.</p>

            <h5>2. Nahraj svou sekvenci</h5>
            <p>Jednoduše vlož či nahraj svou proteinovou sekvenci a&nbsp;porovnej ji s&nbsp;referenční. Ať už analyzuješ
                experimentální data, ověřuješ známé mutace nebo zkoumáš nové varianty, intuitivní prostředí ti umožní
                rychlé zadání sekvence.</p>

            <h5>3. Prozkoumej zarovnání a&nbsp;identifikuj mutace</h5>
            <p>Pomocí algoritmů pro zarovnání sekvencí porovná Protein Analyzer tebou zadanou sekvenci s&nbsp;referenční
                a&nbsp;najde rozdíly. Vizualizace ti pomůže pochopit, jak byly mutace identifikovány. Protein Analyzer
                automaticky detekuje substituce, delece a&nbsp;inzerce aminokyselin.</p>

            <h5>4. Zjisti, zda souvisejí s&nbsp;lidskými onemocněními</h5>
            <p>Tento nástroj interaguje s&nbsp;databází <a href="https://www.ncbi.nlm.nih.gov/clinvar/" target="_blank"
                    rel="noopener">ClinVar</a>, která obsahuje informace o&nbsp;genetických variantách a&nbsp;jejich
                spojitostech s&nbsp;nemocemi. Díky tomuto propojení poskytuje Protein Analyzer informace o&nbsp;tom, zda
                již byly dané mutace studovány, jejich případnou klinickou závažnost a&nbsp;souvislosti
                s&nbsp;genetickými chorobami či dědičnými syndromy.</p>

            <h5>5. Získej data pro další výzkum</h5>
            <p>Jedním kliknutím si exportuj výsledky své analýzy do různých formátů pro další výzkum. Ať už provádíš
                rozsáhlou studii nebo chcete jen sdílet své poznatky s&nbsp;kolegy, funkce stahování ti umožní plynule
                pokračovat ve svém výzkumu dál.</p>

            <a href="analyse" class="btn">Vyzkoušej Protein Analyzer</a>


            <h4><a href="aligner">Advanced Sequence Aligner</a></h4>

            <p>Chceš pochopit, jak funguje porovnávání sekvencí, nebo si upravit parametry zarovnání? Advanced Sequence
                Aligner ti umožní zadat sekvence a&nbsp;efektivně je zarovnat s&nbsp;využitím třídy Pairwise Sequence
                Alignment z&nbsp;knihovny Biopython. Ať už pracuješ s&nbsp;DNA, RNA nebo sekvencemi proteinů, tento
                nástroj ti pomůže najít rozdíly mezi sekvencemi.</p>

            <img class="fullwidth" src="../static/images/alignment.png" alt="Sequence alignment">
            <h5>1. Uprav parametry zarovnání</h5>
            <p>Přizpůsob hodnoty skóre a&nbsp;penalizací podle svých potřeb.</p>
            <h5>2. Prohlédni si výsledky zarovnání</h5>
            <p>Zobrazení zarovnaných sekvencí&nbsp;přehledném formátu ti usnadní rozpoznat mutace.</p>
            <h5>3. Pochop jak zarovnání funguje</h5>
            <p>Upravuj parametry a&nbsp;sleduj, jak se zarovnání mění&nbsp;–&nbsp;pochopíš tak základy porovnávání
                biologických sekvencí.
            </p>

            <p>Ideální nástroj zejména pro vědce a&nbsp;studenty, který nabízí flexibilní způsob, jak zkoumat vztahy
                mezi sekvencemi s&nbsp;plnou kontrolou nad procesem zarovnání.</p>
            <a href="aligner" class="btn">Vyzkoušej Advanced Aligner</a>
        </section>

        <section class="contact-section">
            <h3>Kontakt</h3>
            <p>Pokud máte jakékoliv dotazy, nápady či zpětnou vazbu k&nbsp;aplikaci, neváhejte se ozvat. Uvítám jakýkoli
                komentář, který pomůže vylepšit GenAnalyzer.</p>
            <p>Můžete mě kontaktovat e-mailem (<a href="mailto:genanalyzer24@gmail.com">genanalyzer24@gmail.com</a>)
                nebo prostřednictvím <a href="https://github.com/jajik123/GenAnalyzer/discussions"
                    target="_blank">GitHub Discussions</a>.</p>
            <p>GenAnalyzer je open-source projekt dostupný na GitHubu. Prohlédněte si zdrojový kód, přispějte nebo
                navrhněte vylepšení: <a href="https://github.com/jajik123/GenAnalyzer"
                    target="_blank">GitHub&nbsp;-&nbsp;GenAnalyzer</a>.</p>
        </section>
    </main>

    <footer>
        <p><strong>GenAnalyzer</strong></p>
        <ul>
            <li><a href="cs">Domů</a></li>
            <li><a href="#tools">Nástroje</a></li>
            <li><a href="/about_cs">O&nbsp;aplikaci</a></li>
        </ul>
        <p class="light">&copy;&nbsp;2025 Yasmin Fazla. Všechna práva vyhrazena.</p>
    </footer>

    <script src="../static/js/script_scroll.js"></script>

</body>

</html>